node_modules/
*~
package-lock.json
*.log
logs/
certs/*
config/adobe.js
config/libCal.js 
config/appConf.js

# older configs
config/campusIT.js
# older dev scripts no longer used
setFakeData.sh 
testPost.sh
getToken.sh
